# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Download cc-reporter
      run: curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter

    - name: Grant execute permission
      run: chmod +x gradlew cc-test-reporter

    - name: Build with Gradle
      run: ./gradlew build

    - name: Generate & Upload test report
      uses: paambaati/codeclimate-action@v2.5.7
      env:
        CC_TEST_REPORTER_ID: 13eeb4d2a2bda3b198158bcd91bfed140268639117e95af70711c12a908af990
        JACOCO_SOURCE_PATH: "${{github.workspace}}/src/main/java"
      with:
        coverageCommand: ./gradlew jacocoTestReport
        coverageLocations: "${{github.workspace}}/build/reports/jacoco/test/jacocoTestReport.xml:jacoco"

    - name: Publish package
        run: gradle publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}